<!DOCTYPE html>
<html ng-app="m3wApp" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myProject</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>

    <!-- Theme CSS -->
    <link href="css/styles.css" rel="stylesheet">


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqrm1LI-8ddEp54fYxIEAP1sF64rc4wMU" async
            defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script type="text/javascript" src="js/controllers/viewDataCtrl.js"></script>

</head>
<body ng-controller="w3MainCtrl">
<div class="container">
    <header>

        <div class="row">
            <div class="col-md-6 header-con">
                <h1 class="title">Who What Where?</h1>
            </div>
            <div class="row">
                <div class="search-box">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="data.model"
                                    ng-change="selectItems()">
                                <option ng-repeat="option in data.availableOptions" ng-selected="{{ $index == 0 }}"
                                        ngvalue="{{option.name}}">{{option.name}}
                                </option>
                            </select>
                            <input id="input1" class="form-control" type="text" ng-model="Location"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-default visible-xs-*">

        <div class="container-fluid">
            <div class="collapse navbar-collapse " data-toggle="collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right scroll" id="cats">
                    <li ng-repeat="items in menuNames | filter:name" id="{{menu}}">
                        <a href="#/{{items.name}}">{{items.name}}</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>
<div>
    <ng-view></ng-view>
</div>
</body>
</html>